@font-face {
	font-family: 'TildaSans';
	src: url(fonts/TildaSans-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'TildaSans';
	src: url(fonts/TildaSans-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'TildaSans';
	src: url(fonts/TildaSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'TildaSans';
	src: url(fonts/TildaSans-Black.ttf);
	font-weight: 900;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "TildaSans";
    color: white;
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}
.container{
    width: 1470px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    
}
.main4{
    background-color: #292A33;
    padding: 100px 0;
}
.application{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.heading{
	font-weight: 900;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 4px 20px #00D5FF, 0px 1px 3px #FFFFFF, 0px 3px 8px #00D5FF;
    margin: 0px 0px 78px 0px;
}
.ap-img{
max-width: 100%;
}
.button-box{
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
}
.btn4{
    background: #00D5FF;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 83px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 25px;
    font-family: TildaSans;
    font-weight: 500;
    
}
.btn4:hover{
    box-shadow: 0px 4px 20px #00D5FF;
}
.app-right{
    border: 2px solid #B8F3FF;
    padding: 28px;
    border-radius: 20px;
}
.h3-right{
    font-size: 20px;
    font-weight: 900; 
    margin-bottom: 48px;
}
.input-box{
    max-width: 625px;
}
.app-input{
    width: 100%;
    margin-bottom: 25px;
    height: 45px;
    padding: 0 20px;
}
.input-file {
	position: relative;
	display: inline-block;
}
::placeholder{
    font-family: TildaSans;
    font-size: 15px;
}


.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 18px;
	vertical-align: middle;
	text-align: center;
	border-radius: 28px;
	background-color: #00D5FF;;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
    max-width: 100%;
    margin-bottom: 40px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0px 4px 20px #00D5FF;
}
 
/* Hover/active */
.input-file:hover span {
	box-shadow: 0px 4px 20px #00D5FF;
}
.input-file:active span {
	box-shadow: 0px 4px 20px #00D5FF;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}


a{
    color: white;
}
.bhn-box{
    max-width: 304px;
    margin-left: auto;
    margin-right: auto;
}
.bhn4{
    background: #00D5FF;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 59px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: TildaSans;
    font-weight: 500;
}
.bhn4:hover{
    box-shadow: 0px 4px 20px #00D5FF;
}